# TCL Server Details
TCL_USERNAME=username
TCL_PASSWORD=password
TCL_APP_ID=wx6e1af3fa84fbe523
TCL_LOGIN_URL=https://pa.account.tcl.com/account
TCL_CLOUD_URL=https://prod-center.aws.tcljd.com/v3/global/cloud_url_get

# Database Related
DATABASE_URL=postgresql://postgres:12345@localhost:5434/tcl-local
REDIS_URL=redis://localhost:6379

# Server Configs
PORT=3000
ADMIN_PASSWORD=Secret
JWT_SECRET=SuperSecret